<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <style>
          #pointList .point {
            margin: 3px 0;
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
          }
        </style>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <a href="/" class="lang-logo">
                </a>
                <h1>Know a cool route in Regina?</h1>
                <p>Add it using our cool app!</p>
                <a type="button" class="btn btn-lg btn-default" href="#form">Do it!</a>
            </div>
        </div>
        <div class="container" style="margin-bottom:25px;">
            <hr>
            <form id="form" method="post" >
            <% if(id){ %>
            <input type="hidden" name="id" value="<%= id %>" />
            <% } %>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Meta Information Here</h3>
                        <div>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" value="<%= name %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="imageUrl">Image</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="imageUrl" id="imageUrl" placeholder="Enter Image Url" value="<%= icon %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                          <div class="col-sm-6">
                            <h4>Points:</h4>
                            <div id="pointList"></div>
                          </div>
                          <div class="col-sm-6">
                            <div id="pointEditor" style="display: none;">
                              <h3>Edit point</h3>
                              <div>
                                <label>Name <input class="pointName"/></label>
                              </div>
                              <div>
                                <label>Number <input class="pointNumber"/></label>
                              </div>
                              <div>
                                <label>Image <input class="pointImage"/></label>
                              </div>
                              <button id="savePointButton">Save</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Map</h3>
                        <div id="map" style="height:400px"></div>
                    </div>
                </div>
                <!-- row -->
                <% points.forEach(function(p) { %>
                <input type="hidden" name="points" value="<%= p %>" />
                <% }); %>
            </form>
        </div>

        <script src="/js/map.js"></script>
        <script>
        $(function() {
          <% points.forEach(function(p) { %>
            addPoint({
              lat: <%= p.lat %>,
              lng: <%= p.lng %>,
              name: "<%= p.name %>",
              number: <%= p.number %>,
              image: "<%= p.image %>"
            });
          <% }) %>
        })
        </script>
</body>

</html>
