<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container" style="margin-bottom:25px;">
            <div class="row">
              <div class="col-xs-12">
                <h1>Current Tours <%= tours.length %></h1>
                <a type="button" class="btn btn-lg btn-default" href="/create">Create new Tour</a>
              </div>
              <hr style="margin: 10px 0"/>
              <% for(var i = 0; i < tours.length; i++) {%>
                <div class="col-xs-12" style="margin-top: 5px; margin-bottom: 5px; padding-top: 10px; padding-bottom: 10px; outline: 1px solid #ddd">
                  <a href="/editor/<%=tours[i].id%>">
                  <div class="row">
                      <div class="col-md-1 col-xs-3">
                        <img style="max-width: 100%; max-height: 75px;" src="<%= tours[i].icon %>"/>
                      </div>
                      <div class="col-xs-3">
                        <b><%=tours[i].name%></b>
                      </div>
                      <div class="col-xs-3">
                        <b>Stops: <%=tours[i].points.length%></b>
                      </div>
                      <div class="col-xs-3">
                        <b><i class="fa fa-thumbs-up" aria-hidden="true"></i><%=tours[i].up_votes%></b>
                        <br/>
                        <b><i class="fa fa-thumbs-down" aria-hidden="true"></i><%=tours[i].down_votes%></b>
                      </div>
                    </div>
                  </a>
                </div>
              <% } %>
            </div>
        </div>

        <script src="js/map.js"></script>
</body>

</html>
